#!/bin/bash

unset PACKER_PROXMOX_URL
unset PACKER_PROXMOX_NODE
unset PACKER_PROXMOX_USERNAME
unset PACKER_PROXMOX_PASSWORD
unset PACKER_PROXMOX_STORAGE_POOL
unset PACKER_PROXMOX_BRIDGE

export PACKER_PROXMOX_URL=''
export PACKER_PROXMOX_NODE=''
export PACKER_PROXMOX_USERNAME='@pam'
export PACKER_PROXMOX_PASSWORD=''
export PACKER_PROXMOX_STORAGE_POOL=''
export PACKER_PROXMOX_BRIDGE=''
